body {
  background: url('dopescene.png') fixed;
  margin: 0;
}
.logo {
  width: 90px;
  length: 90px;
}
#last {
  border: none;
  padding: 0;
  margin-right: 95%;
  margin-top: 0;
}
#other {
  position: relative;
  bottom: 120px;
}
.nav {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 20px;
  color: white;
  display: block;
  overflow: hidden;
}
.nav ul {
  list-style-type: none;
}
.nav li {
  float: right;
  margin-right: 5%;
  margin-top: 40px;
  padding: 10px;
}
.nav a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.nav li:hover {
  color: grey;
}
.motto {
  text-align: center;
  font-size: 50px;
  font-family: 'Saira Semi Condensed';
  width: 60%;
  color: white;
  margin-left: 20%;
}
.saying {
  text-align: center;
  font-family: 'Permanent Marker';
  color: white;
  position: relative;
  bottom: 30px;
  font-size: 27px;
}
/* Start of About ME*/
.AboutMe {
  width: 100%;
  height: 385px;
  background-color: #C0C0C0;
  display: block;
  overflow: hidden;
}
#title {
  font-family: 'Lato';
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
#abtp {
  font-family: 'Exo 2';
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4em;
  width: 50%;
  margin-left: 25%;
}
/* Start of My Future */
.MyFuture {
  width: 100%;
  height: 580px;
  background-color: white;
  display: block;
  overflow: hidden;
}
#title3 {
  margin: 4% 0 2% 5%;
  font-family: 'Lato';
  font-size: 20px;
}
#vid {
  float: right;
  clear: none;
  margin-right: 3%;
  margin-top: 6%;
}
#mfp {
  margin: 0 5% 3% 5%;
  font-family: 'Exo 2';
  font-size: 20px;
  line-height: 1.4em;
  width: 45%;
}
#mfp li {
  list-style-type: square;
}
/* Start of My Past*/
.MyPast {
  width: 100%;
  height: 400px;
  background-color: #C0C0C0;
  margin: 0;
  display: block;
  overflow: hidden;
}
#title2{
  margin: 4% 0 2% 5%;
  font-family: 'Lato';
  font-size: 20px;
}
#mpp{
  margin: 0 5% 3% 5%;
  font-family: 'Exo 2';
  font-size: 20px;
  line-height: 1.4em;
}
